:root {
    /* formas */
    --primary-color: #002A66;
    --secondary-color: #0049B2;
    --terceary-color: #0366F5;

    /* textos */
    --primary-text: #0B3778;
    --secondary-text: #0363ED;
    --terceary-text: #232323;
    --grey-text: #C4C4C4;
    --white-text: #fefefe;

    /* font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { ... }
    */


}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* conteudo da header */

header.home {
    position: relative;
    min-width: 100%;
    padding-bottom: 24px;
    min-height: 60vh;
    background: url('../img/karen-uppal-TLjNPAz6d4g-unsplash.jpg') no-repeat center center;
    background-size: cover;
    z-index: 99;
}

.header-topo {
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 12px 12px;
}

.header-topo a {
    font-size: 1rem;
    margin: 0px 4px;
    color: var(--white-text)
}

a i {
    transform: rotate(0deg);
    transition: 0.4s
}

a.header-location:hover {
    color: #EE675C;
    transition: 0.4s;
}

a.header-location:hover i {
    transform: rotate(-90deg);
    transition: 0.4s
}

a.header-whatsapp {
    color: #2C6;
    margin-right: 18px;
}

a.header-whatsapp:hover {
    color: #1a4;
    transition: 0.4s
}

a.header-whatsapp:hover i {
    transform: rotate(20deg);
    transition: 0.4s;
}

a.header-ligar:hover {
    color: var(--grey-text);
    transition: 0.4s
}

a.header-ligar:hover i {
    transform: rotate(-20deg);
    transition: 0.4s;
}

.header-logo {
    z-index: 10;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-menu {
    background: #FFFFFF;
    display: flex;
    position: relative;
    padding: 0.4rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.menu-mobile {
    visibility: hidden;
    width: 0px;
    position: absolute;
    height: 0px;
}

.header-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.sub-menu{
    display: flex;
    position: relative;
}
li.sub-menu > ul{
    display: none;
    background:rgba(3, 99, 237, 0.8);
    backdrop-filter: blur(2px);
    position: absolute;
    z-index: 99;
    text-align: center;
    top: 50px;
    left: -50px;
    flex-direction: column
}
.sub-menu:hover ul{
    display: flex;    
    transition: 0.4s;
}

li.sub-menu ul li{
    margin-right: 0px;
}
li.sub-menu > ul li a{
    padding: 8px 36px;
    color:#fefefe
}
li.sub-menu > ul li a:hover{
    color:#9BD8EA;
    transition: 0.4s
}
.header-menu ul li {
    margin-right: 0px;
}

.header-menu ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.07rem;
    padding: 12px 12px;
    box-sizing: border-box;
    color: var(--terceary-text);
}

.header-menu ul li a:hover {
    color: var(--secondary-color);
}

.header-menu > ul li a::after {
    content: '';
    display: block;
    min-width: 50%;
    padding: 1px;
    transform: scale(0);
    border-top: 2px solid #fefefe;
}

.header-menu ul li a:hover::after {
    content: '';
    display: block;
    max-width: 50%;
    border-top: 2px solid;
    min-height: 2px;
    background: currentColor;
    transform: scale(1);
    animation: menuHover 0.4s ease-in forwards;
}

@keyframes menuHover {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.header-banner {
    max-width: 40%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 3px;
    text-align: center;
    margin: 24px auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.header-banner h1 {
    font-size: 2.4rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3.2rem;
    color: var(--terceary-text);
}

.header-banner h1::after {
    content: '';
    display: block;
    margin: 0 auto;
    max-width: 60%;
    min-height: 2px;
    background-color: currentColor;
}

.header-banner p {
    color: var(--white-text);
    font-weight: 200;
    margin-top: 8px;
    margin-bottom: 16px
}

.orcamento-button {
    width: 64px;
    height: 24px;
    font-size: 1rem;
    padding: 10px 58px;
    background: #1a4;
    color: var(--white-text);
}

.orcamento-button:hover {
    background: var(--terceary-color);
    /* transition: 0.4s; */
    animation: buttonAnimation 2s ease-in infinite;
}

@keyframes buttonAnimation {
    0% {
        background: #1a4
    }

    20% {
        background: #1a6;
    }

    40% {
        background: #1a7

    }

    60% {
        background: #1a7;
    }

    80% {
        background: #1a6
    }

    100% {
        background: #1a4
    }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 250px) and (max-width: 460px) {

    .header-topo {
        flex-direction: column;
    }

    .header-topo a {
        font-size: 0.875rem
    }

    .header-menu {
        justify-content: space-between;
        padding: 4px 12px;
    }

    .header-logo img {
        max-width: 70%;
    }

    .header-menu ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #002A66;
        padding: 12px;
        top: 100px;
        right: 0px;
        z-index: 99;
    }

    .header-menu ul li {
        margin-right: 0;
        text-align: right;
    }

    .header-menu ul li a {
        padding: 0px 0px;
        height: 20px;
        color: var(--white-text);
        text-align: left;
        align-items: flex-start;
        justify-content: left;
        margin: 12px 24px;
    }

    .menu-mobile {
        visibility: visible;
        font-size: 2rem;
        color: #002A66;
    }

    .header-banner {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 12px;
        text-align: center
    }

    .header-banner h1 {
        font-size: 2rem;
        text-align: center;
    }

    .header-banner h3 {
        color: var(--secondary-text);
        font-weight: 200;
        margin-bottom: 12px
    }

    a.orcamento-button {
        display: flex;
        background: #1a4;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 120px;
        height: 80px;
        text-align: center;
        padding: 12px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .header-banner {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 12px;
        text-align: center
    }

    .header-banner h1 {

        font-size: 2rem;
        text-align: center;
    }

    .header-banner h3 {
        color: var(--secondary-text);
        font-weight: 200;
        margin-bottom: 12px
    }

    a.orcamento-button {
        display: flex;
        background: #1a4;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 190px;
        height: 48px;
        text-align: center;
        padding: 2px 8px;
    }
}

/* conteudo do corpo */

.container {
    max-width: 100%;
}

/* serviços */
.servicos {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
    flex-direction: column;
}

.titulos {

    max-width: 200px;
    margin: 24px 18px;
}

.titulos::after {
    display: block;
    content: '';
    height: 2px;
    margin-top: 12px;
    border-top: 4px solid #646464;
}

.titulos h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.4rem;
}

.titulos p {
    color: #545454
}

.servicos .articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.servicos .card-servico {
    display: flex;
    border-left: 5px solid #0363ED;
    border-bottom: 5px solid #0049B2;
    /* box-shadow: -5px 5px 0px #0049B2; */
    flex-direction: column;
    margin: 12px;
    width: 250px;
    position: relative;
    padding: 18px;
    height: 550px;
    background: url('../img/box/box-open-vidro-verde.jpg') no-repeat center center;
    background-color: #002A66;
    background-blend-mode: overlay;
    background-size: cover;
    color: var(--white-text);
}

.servicos .card-titulo {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    ;
    width: 1rem;
    text-align: center;
    word-break: break-all;
    line-height: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;

}

.card-servico:nth-child(1n) {
    background: url('../img/divisoria/divisoria.jpg') no-repeat center center;
    background-color: #002A66;
    background-blend-mode: overlay;
}

.card-servico:nth-child(2n) {
    background: url('../img/janela/janela-vidro.jpg') no-repeat center center;
    background-color: #002A66;
    background-blend-mode: overlay;
}

.card-servico:nth-child(3n) {
    background: url('../img/porta/porta-4-folhas.jpg') no-repeat center center;
    background-color: #002A66;
    background-blend-mode: overlay;
}

.card-servico:nth-child(4n) {
    background: url('../img/box/box-frontal-em-vidro-verde.jpg') no-repeat center center;
    background-color: #002A66;
    background-blend-mode: overlay;
}

.card-servico p {
    width: 200px;
    padding: 12px 12px;

}

.card-servico:first-child p {
    position: absolute;
    width: 250px;
    left: 12px;
    top: 80%
}

.card-servico .card-link {
    display: flex;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 50%;
    background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
    position: absolute;
    bottom: 12px;
    right: 12px;
    align-items: center;
    justify-content: center;
    color: #545454;
    transform: rotate(0deg);
    transition: 0.4s
}

.card-servico a.card-link:hover {
    transform: rotate(45deg);
    transition: 0.4s
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .servicos {
        max-width: 760px
    }

    .servicos .articles {
        max-width: 760px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    .articles .card-servico {
        display: flex;
        width: 320px;
        margin: 18px 10px;
    }

    .articles .card-servico p {
        max-width: 350px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 250) and (max-width: 460px) {
    .servicos {
        max-width: 360px;
    }

    .servicos .articles {
        max-width: 350px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;

    }

    .articles .card-servico {
        width: 350px;
        margin: 12px;
    }
}

.section-pagamento {
    background: #dedede;
}

.pagamento {
    max-width: 1100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
}

.pagamento h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    line-height: 4rem;
    max-width: 450px;
}

.pagamento .forma-pagamento svg {
    max-width: 350px;
    height: 25vh;

}

/* .pagamento .forma-pagamento svg path{
    animation: pathAnimation 1.7s ease-in forwards;
} */
.pagamento .forma-pagamento.active svg path {
    animation: pathAnimation 1.7s ease-in forwards;
}

@keyframes pathAnimation {
    from {
        opacity: 0;
        fill: #dedede
    }

    to {
        opacity: 1;
        fill: var(--secondary-color)
    }
}

@media (min-width: 250px) and (max-width: 460px) {
    .pagamento {
        display: flex;
        max-width:100%;
        flex-direction: column;
    
    }

    .pagamento h1 {
        font-size: 1.7rem;
        margin-left: 18px;
        margin-right: 18px;
        line-height: 2.8rem;
        text-align: center;
    }
}
@media (min-width:760px){
    .pagamento {
        padding-left: 36px;
        padding-right: 36px;
    }
}
/* Pagina projetos  */

header.produto-header {
    background: var(--secondary-color);
    padding-bottom: 8px;

}

.produto-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projetos {
    display: flex;
    max-width: 1100px;
    flex-direction: column;
    margin: 36px auto;
}

.projetos-titulos {
    max-width: 450px;
    margin: 36px auto;
    text-align: center;
}

.projetos-titulos h1 {
    font-size: 2rem;
    line-height: 3.2rem;
}

.produto-porta .portas {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}

.portas h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-family: 'Playfair Display';
    max-width: 70px;
    word-break: break-all;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    display: block;
    z-index: 99;
    color: #eee;
    position: absolute;
    top: 0px;
    left: 20px;
    padding: 7px 8px;
    background: rgba(3, 99, 237, 0.8);
    backdrop-filter: blur(5px);
}

.produto-descricao {
    align-self: center;
    max-width: 60%;
    height: 45vh;
    margin: 12px auto;
    background: #fefefe;
    padding: 64px 46px;
    border-left: 5px solid #002A66;
    border-bottom: 5px solid #002A66;
    box-shadow: -5px 5px #0366F5, -10px 10px #9BD8EA;
    border-radius: 2px;
}

.produto-descricao h3 {
    font-size: 1.8rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.produto-descricao h3::after {
    content: '';
    display: block;
    max-width: 50%;
    margin-top: 16px;
    border-top: 4px solid;
}

.separador {
    width: 40%;
    height: 2px;
    margin: 48px auto;
    background: #dedede;
}

.produto-item {
    display: flex;
    background: #dedede;
}

.produto-item p {
    font-size: 1rem;
    margin-top: 8px;
    color: #333
}

.produto-img {
    position: relative;
    max-width: 35%;
}

.produto-img img {
    transform: scale(1);
    display: block;
    transition: 0.4s
}

.produto-img:hover img {
    cursor: pointer;
    position: relative;
    transform: scale(1.290);
    transition: 0.4s;
    z-index: 999;
}

.sobre {
    display: flex;
    max-width: 1100px;
    flex-direction: column;
    margin: 36px auto;
    padding: 24px 36px;
}
.sobre-section{
    display: flex;
    flex-direction: row;
}
.sobre-descricao{
    max-width: 50%;
    background: #f7f7f7;
    padding: 24px 12px;
    margin-left: 36px;
}
.sobre-img img{
    border-left: 8px solid #06A4EA;
}
.sobre-descricao h4{
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    color: #002A66;
    font-weight: 700;
    line-height: 2rem;
    max-width: 90%;
    margin: 0px auto;
}
.sobre-descricao > p{
    display:block;
    font-size: 1rem;
    padding: 8px 24px;
}
.sobre-descricao > p span{
    color: #0049B2
}

@media (min-width: 250px) and (max-width:460px) {
    .portas h2 {
        font-size: 2rem
    }

    .produto-img {
        max-width: 100%;
    }

    .produto-item {
        flex-direction: column;
    }

    .produto-descricao h3 {
        font-size: 1.8rem;
        line-height: 2rem
    }

    .produto-descricao {
        max-width: 100%;
        margin: 4px auto;
        height: 60vh;
        padding: 24px 36px;
        border: none;
        box-shadow: none;
    }

    .produto-item p {
        font-size: 1rem;
    }

    .separador {
        margin: 16px auto;
    }
}

/* depoimentos  */
.depoimentos {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 36px;

}

.depoimentos .titulos {
    align-self: flex-end;
    max-width: 250px;
}

.feminino {
    color: deeppink;
}

.depoimentos-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}

.depoimentos-cards blockquote {
    max-width: 35%;
    height: 360px;
    position: relative;
    margin-right: 36px;
    margin-bottom: 36px;
    overflow-y: auto;
    border-left: 5px solid #002A66;
    border-bottom: 5px solid #002A66;
    box-shadow: -5px 5px #0366F5, -10px 10px #9BD8EA;
    padding: 24px 18px;
}

.depoimentos-cards blockquote p {
    text-align: justify;
    margin: 0 auto;
}


blockquote::-webkit-scrollbar {
    width: 4px;

}

blockquote::-webkit-scrollbar-thumb {
    background: #dedede;
}

.depoimentos-cards .usuario {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.depoimentos-cards .usuario h4 {
    margin-left: 50px;
}

.depoimentos-cards .usuario i {
    position: absolute;
    font-size: 3rem;
    top: 35px
}

.depoimentos-cards .classificacao {
    font-size: 0.875rem;
    color: rgba(236, 173, 12, 0.781);
    margin-left: 50px;
}

.depoimentos-cards blockquote p {
    font-size: 0.875rem;
    margin-top: 18px;
    max-width: 90%
}

@media (min-width: 250px) and (max-width:460px) {
    .depoimentos-cards blockquote {
        max-width: 350px;
        margin: 18px auto;
        border: none;
        box-shadow: -2px 2px 9px rgba(0,0,0,0.05);

    }

}

/* rodape */
.rodape {
    display: flex;
    justify-content: center;
    color: var(--white-text);
    align-items: center;
    flex-direction: column;
    background: var(--secondary-text)
}

.rodape-medias {
    display: flex;
    max-width: 1024px;
    padding: 24px 0;
    flex-direction: row;
    justify-content: center;
}

.rodape-blocos {
    margin: 0 15px;
}

.rodape-blocos ul li {
    margin: 2px 2px;
}

.rodape-blocos ul li a {

    text-align: left;
    color: var(--white-text)
}

.rodape-blocos a:hover {
    color: var(--grey-text);
    transition: 0.4s
}

.rodape-blocos h4 {
    font-size: 1.3rem;
}

.rodape-blocos h4::after {

    display: block;
    content: '';
    margin-top: 2px;
    margin-bottom: 8px;
    width: 80px;
    padding: 2px 2px;
    height: 10px;
    border-bottom: 4px solid #fefefe;
}

.rodape-direitos {
    min-width: 100%;
    text-align: center;
    background: var(--primary-color);
}

.rodape p {

    max-width: 100%;
    margin: 12px auto;
    color: var(--white-text);
}

@media (min-width: 250px) and (max-width:460px) {
    .rodape-medias {
        display: flex;
        justify-content: center;
        color: var(--white-text);
        align-items: center;
        flex-direction: column;
    }

    .rodape-blocos {
        margin: 0 auto;
        padding: 12px;
        text-align: center;
    }

    .rodape-blocos h4::after {

        display: block;
        content: '';
        margin: 4px auto 8px auto;
        width: 80px;
        padding: 2px 2px;
        height: 10px;
        border-bottom: 4px solid #fefefe;

    }

    .rodape-blocos ul li a {
        text-align: left;
        color: var(--white-text)
    }

    .rodape-blocos p {
        text-align: center
    }
}