:root {
    /* formas */
    --primary-color: #002A66;
    --secondary-color: #0049B2;
    --terceary-color: #0366F5;

    /* textos */
    --primary-text: #0B3778;
    --secondary-text: #0363ED;
    --terceary-text: #232323;
    --grey-text: #C4C4C4;
    --white-text: #fefefe;

    /* font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { ... }
    */

    
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
}
img{
    max-width: 100%;
}
a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* conteudo da header */

header {
    min-width: 100%;
    min-height: 60vh;
    background: url('../img/portas-de-correr.jpeg') no-repeat center center;
    background-size: cover;
}

.header-topo {
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    padding: 12px 0 12px 0;
}
.header-topo a{
    font-size:1rem;
    color: var(--white-text)
}
a i{
    transform: rotate(0deg);
    transition: 0.4s
}
a.header-location:hover{
    color: #EE675C;
    transition: 0.4s;
}
a.header-location:hover i{
    transform: rotate(-90deg);
    transition: 0.4s
}
a.header-whatsapp{
    color: #2C6;
    margin-right: 18px;
}
a.header-whatsapp:hover{
    color: #1a4;
    transition: 0.4s
}
a.header-whatsapp:hover i{
    transform: rotate(20deg);
    transition: 0.4s;
}
a.header-ligar:hover{
    color: var(--grey-text);
    transition: 0.4s
}
a.header-ligar:hover i{
    transform: rotate(-20deg);
    transition: 0.4s;
}
.header-logo{
    z-index: 10;
    padding-top: 12px;
    padding-bottom: 12px;
}
.header-menu {
    background:var(--secondary-color);
    background: linear-gradient(to right bottom,
            rgba(3, 99, 237, 0.2),
            rgba(255, 255, 237, 0.6));
    backdrop-filter: blur(3px);
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-menu ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top:28px;
}
.header-menu ul li{
    padding: 0 10px;
}
.header-menu ul li a{
    font-size: 1rem;
    font-weight: 600;
    color:var(--primary-color);
    text-transform: uppercase;
}
.header-menu ul li a::after{
    content:'';
    width: 100%;
    display: block;    
    height:4px;
    margin-top: 0px;
    transform: scale(0%);
}
.header-menu ul li a:hover{    
    color:var(--secondary-color);
    transition: 0.4s
}
.header-menu ul li a:hover::after{
    content:'❖❖❖';
    font-size: 1rem;
    color:var(--white-text);
    text-align: center;
    width: 100%;
    display: block;
    animation: menuHover 0.5s ease-in forwards;
}

@keyframes menuHover{
    from{
        width:0%
    }to{
        width:100%
    }
}
.header-banner{
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.header-banner h1{
    font-size:2.4rem;
    text-transform: uppercase;
    line-height: 3.2rem;
    color: var(--secondary-color);
}
.header-banner h1::after{
    content:'';
    display:block;
    margin: 0 auto;
    max-width: 60%;
    min-height:2px;
    background-color: currentColor;
}
.header-banner h3{
    color: var(--secondary-text);
    font-weight: 200;
    margin-bottom:12px
}
.orcamento-button{
    width: 64px;
    height: 24px;
    font-size: 1rem;
    padding: 10px 58px;
    background: var(--secondary-color);
    color: var(--white-text);
}
.orcamento-button:hover{
    background: var(--terceary-color);
    /* transition: 0.4s; */
    animation: buttonAnimation 2s ease-in infinite;
}
@keyframes buttonAnimation{
    0% {
        background: var(--secondary-color)
    }20% {
        background: var(--secondary-color);
    }40% {
        background: var(--terceary-color);
    
    }60% {
        background: var(--terceary-color);
    }
    80% {
        background: var(--secondary-color)
    }
    100% {
        background: var(--secondary-color)
    }
    
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) {
    .header-banner{
        max-width:100%;
        display:flex;
        flex-direction:column;
        align-items: center;
        padding:80px 12px;
        text-align: center
    } 
    .header-banner h1{

        font-size:2rem;
        text-align: center;
    }
    .header-banner h3{
        color: var(--secondary-text);
        font-weight: 200;
        margin-bottom:12px
    }
    a.orcamento-button{
        display: flex;
        background:#0049B2;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width:120px;
        height: 80px;
        text-align: center;
        padding:12px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* conteudo do corpo */

.container{
    max-width: 100%;  
}

/* serviços */
.servicos {
    display:flex;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
    flex-direction: column;
    align-items:center;
    justify-content:center
}
.titulos{
    text-align:center;
    margin-bottom: 24px;
}
.servicos .titulos h1{
    font-size: 2rem;
}
.servicos .articles{
    display: flex; 
    justify-content:center;
    max-width:100%;    
}
.servicos .card-servico{
    display: flex;
    border-left: 5px solid #0363ED;
    border-bottom: 5px solid #0049B2;
    /* box-shadow: -5px 5px 0px #0049B2; */
    flex-direction: column;
    margin-left: 18px;
    min-width: 250px;
    position: relative;
    padding: 18px;    
    height:550px;
    background: url('../img/box-vidro.jpg') no-repeat center center;
    background-color: #002A66;
    background-blend-mode: overlay;
    background-size: cover;
    color:var(--white-text);
}
.servicos .card-titulo{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;;
    width:1rem;
    text-align: center;
    word-break: break-all;
    line-height: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    
}
.card-servico:nth-child(2n){
    background: url('../img/Báscula.jpg') no-repeat center center;
    background-color: #002A66;
    background-blend-mode: overlay;
}

.card-servico:nth-child(4n){
    background: url('../img/Báscula.jpg') no-repeat center center;
    background-color: #002A66;
    background-blend-mode: overlay;
}
.card-servico p{
    position: absolute;
    width: 250px;
    left: 12px;
    top: 60%
    
}
.card-servico:first-child p{
    position: absolute;
    width: 250px;
    left: 12px;
    top: 80%    
}
.card-servico .card-link{
    display: flex;
    font-size: 1.5rem;
    width:30px;
    height:30px;
    border:1px solid #eee;
    border-radius:50%;
    background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
    position: absolute;
    bottom: 12px;
    right: 12px;
    align-items: center;
    justify-content:center;
    color: #545454;
    transform: rotate(0deg);
    transition: 0.4s
}
.card-servico a.card-link:hover{
    transform: rotate(45deg);
    transition: 0.4s
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) { 
    .servicos { 
        max-width:360px;
    }
    .servicos .articles{
        max-width: 350px;
        flex-direction: row;
        display:flex;
        flex-wrap: wrap;
        
    }
    .articles .card-servico{
        width:350px;
        margin: 12px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .servicos .articles{
        max-width: 760px;
        flex-direction: row;
        display:flex;
        flex-wrap: wrap;
        overflow-x: auto;
    }
    .articles .card-servico{
        display:flex;
        width: 340px;
        margin: 18px 10px;
    }
    .articles .card-servico p{
        max-width: 350px;
    }
}

/* depoimentos  */
.depoimentos {
    display:flex;
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
    
}
.feminino{
    color: deeppink;
}
.depoimentos-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.depoimentos-cards blockquote{
    max-width: 45%;
    height: 290px;
    position: relative;
    background-color:var(--grey-text);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-blend-mode: luminosity;
    margin: 12px;
    overflow-x: auto;
    padding: 24px;
}
.depoimentos-cards .usuario{
    display: flex;
    align-items: center;
    font-size:1.4rem;
}
.depoimentos-cards .usuario h4{
    margin-left: 50px;
}
.depoimentos-cards .usuario i{
    position: absolute;
    font-size:3rem;
    top: 35px
}
.depoimentos-cards .classificacao{
    font-size: 0.875rem;
    color:rgba(236, 173, 12, 0.781);
    margin-left: 50px;
}
.depoimentos-cards blockquote p{
    font-size: 0.875rem;
    margin-top: 18px;
    max-width:90%
}


/* rodape */
.rodape{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background: var(--primary-color);
    padding-top: 24px;
    padding-bottom: 24px;
}
.rodape-medias{
    display: flex;
    flex-direction: row;
}
.rodape p{
    color: var(--white-text);
}